.broadwaypage {
  text-align: center;
  font-family: verdana;
}
nav {
  background-image: url("flatbuilding.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
}
h1 {
  font-size: 60px;
}
#designed {
  background-image: url("flatbuilding.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.footer {
  text-align: left;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
a {
  color: white;
}
h3, p {
  color: black;
}
h5 {
  font-size: 30px;
  color: black;
}
